@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .animate-spin-sideways-pause {
    animation: spin-sideways-pause 5s ease-in-out infinite;
  }
}

@keyframes spin-sideways-pause {
  0% {
    transform: rotateY(0deg);
  }

  30% {
    transform: rotateY(-360deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}